{% extends 'views.html'%}
{% block title %}This is login page{% endblock %}
{% block content %}
<div class="grid-wrapper">
    <div></div>
    <div>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">

            </div>
            <div class="input-group mb-3">
                <input type="password" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <button type="submit" class="btn btn-primary">Log in</button>
            <button class="btn btn-secondary">Register</button>
        </form>
    </div>
    <div></div>
</div>
{% endblock %}