{% extends 'views.html'%}
{% block title %}This is creation page{% endblock %}

{% block content %}

<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos exercitationem libero, molestias quis tempore
    vitae. Doloribus eum facilis hic ipsa laborum molestias, numquam obcaecati odit quidem sed similique sit suscipit.
</div>
<div>Accusantium adipisci aliquid amet atque delectus deserunt dolore dolorem, doloribus eius esse eveniet fuga harum,
    hic illo incidunt ipsum magnam quasi reiciendis reprehenderit repudiandae sed soluta tenetur veritatis voluptas
    voluptatibus.
</div>
<div>Ab cupiditate dolor dolorum, ea eos, esse explicabo minima minus odit optio quaerat qui ratione recusandae saepe
    suscipit. Atque dicta ducimus illum iste maxime minima molestiae natus sed ut voluptatem.
</div>
<div>Deleniti eos error, expedita itaque nemo nihil odio omnis! Ab aliquid at deleniti dolor dolores doloribus ex, ipsa
    iste itaque maxime minus, nihil quaerat quisquam quos ratione veniam voluptatibus? Suscipit?
</div>
<div>Aperiam architecto deleniti dignissimos dolorem ducimus eius error, illo odit provident sequi. Et, iusto, quasi.
    Blanditiis delectus eveniet facilis id impedit inventore maxime nostrum officiis sapiente sit? Atque ipsa, libero.
</div>

{{form}}

<div>Deleniti eos error, expedita itaque nemo nihil odio omnis! Ab aliquid at deleniti dolor dolores doloribus ex, ipsa
    iste itaque maxime minus, nihil quaerat quisquam quos ratione veniam voluptatibus? Suscipit?
</div>
<div>Aperiam architecto deleniti dignissimos dolorem ducimus eius error, illo odit provident sequi. Et, iusto, quasi.
    Blanditiis delectus eveniet facilis id impedit inventore maxime nostrum officiis sapiente sit? Atque ipsa, libero.
</div>

{% endblock %}